.producttracker{
    margin: 3em 0;
    width: 100%;
    max-width: 1000px;
    #map{
        height: 400px;
        width: 100%;
    }

    .search{
        margin: 2em 0;
        position: relative;
        h2{
            text-align: center;
            margin-bottom: 1em;
            font-family: 'Nunito', sans-serif;
        }
                .map {
                    margin-top: 2em;
                }
        img{
            width: 100%;
        margin-top: 2em;
        }
        form {
                display: flex;
                width: 100%;
                padding: 1em;
                box-sizing: border-box;
                .payment{
                    flex:7 ;
                    input{
                        
                        width: 100%;
                        padding: 0.5em 0.6em;
                        border: 1px solid black;
                        outline: none;
                        box-sizing: border-box;
                    }
                }
                button {
                    flex: 1;
                    padding: 0.4em 0.6em;
                    background-color: teal;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                    border: none;
                }
            }
    }
}