.principles{
    margin: 3em 0;
    max-width: 1000px;
    
    h1, h2{
        text-align: center;
        margin-bottom: 0.5em;
        font-family: cursive;
    }
    h1{
        font-weight: 400;
    }
    h2{
        font-weight: 300;
    }

    ol{
        li{
            margin: 1em 0;
        }
    }
}