.refund-policy{
    max-width: 800px;
    margin: 3em 0;
    h1{
        font-family: cursive;
        text-align: center;
        font-weight: 400;
        margin-bottom: 1em;
    }
    p{
        font-weight: 200;
    }
    h4{
        margin: 0.5em 0;
    }
}