.resetPassword{
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        border-radius: 1em;
        width: 330px;
        img{
            width: 200px;
            margin-top: 1em;
        }
        h1 {
            font-size: 2em;
            font-weight: 900;
        }

        h2 {
            font-weight: 300;
            font-size: 2em;
            margin-bottom: 1em;
        }
        form{
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            .error {
                    color: red;
                    font-size: 0.8rem;
            
                }
                #submit {
                    margin: 1em;
                    padding: 0.6em 0;
                    border: none;
                    background-color: rgb(252, 200, 78);
                    font-size: 1rem;
                    border-radius: 5px;
                }
                #submit:active {
                    padding: 0.7em 0;
                    margin: 0.6em;
                }

            label {
                    position: relative;
            
                    .label {
                        position: absolute;
                        top: 9px;
                        left: 15px;
                        z-index: 10;
                        background-color: white;
                        padding: 0 5px;
                        font-size: 0.8rem;
                        letter-spacing: 1px;
                        color: black;
                        font-weight: 300;
                        font-family: 'Roboto Slab', serif;
                    }
            
                    .labelError {
                        color: red;
                    }
            
                    input {
                        border: none;
                        border: 1px solid grey;
                        border-radius: 0.4em;
                        position: relative;
                        padding: 0.6em 0;
                        width: 90%;
                        margin: 1em 0;
                        font-size: 1.1rem;
                        padding-left: 10px;
                        margin-left: 10px;
            
                    }
            
                    input:focus {
                        outline: none;
                        border: 1px solid green;
                        transition: 0.1s;
                    }
            
                    .inputError {
                        border: 1px solid red;
                    }
            
        }
}}